@font-face {
    font-family: 'simkai';
    src: url('../font/simkai.ttf');
}

@font-face {
    font-family: 'mono';
    src: url('../font/mono.ttf');
    /*unicode-range: U+30-39, U+41-5a, U+61-7a;*/
}

body, .book >*  {
    font-family: 'mono', 'simkai', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.book-summary{
    font-family: 'mono', 'simkai', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1, h2 {
    border-bottom: 1px solid #EFEAEA;
}